.item {
    cursor: pointer;
    border: 0px;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
    height: 100%;
    border-left: 3px transparent solid;
}

.item-title {
    font-size: 18px;
}

.item-active {
    border-left: 3px #dc3545 solid;
}