.item {
    cursor: pointer;
    border: 0px;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
    height: 100%;
}

.item-title {
    font-size: 18px;
}

.item-active {
    border-left: 5px #ff2f5a solid;
}